<header>
  <h1>{{ .Title }}</h1>

  <div>
    {{ if .IsHome }}
      {{ $pages := slice (site.GetPage "artists") }}
      {{ with site.GetPage "about" }}
        {{ $pages = $pages | append . }}
      {{ end }}
      <ul>
        {{ range $pages }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          </li>
        {{ end }}
      </ul>
    {{ else }}
      {{ $artists := .GetTerms "artists" }}
      <ul>
        <li>
          <a href="{{ site.Home.RelPermalink }}">{{ site.Home.LinkTitle }}</a>
        </li>
        {{ with .Parent }}
          {{ if and (not .IsHome) (not .IsSection) }}
            <li>
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
          {{ end }}
        {{ end }}

        {{ range $artists }}
          <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
    <img id="headerImage" src="/art2heal/galleries/g3/birds_on_wire_clean.jpeg" alt="something of ruby's" style="height:200px;">
  <div>
  </div>
</header>
